# Terraform files
# Terraform state and cache
.terraform/
*.tfstate
*.tfstate.backup

# Sensitive keys
terra-key
*.pem
*.pub

# Ansible temporary files
*.retry

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
